.container {
  margin: 1em;

  & > * {
    margin: 0.5em;
  }
}

.fill-height {
  height: 100%;
}

.display-flex {
  display: flex;
}

.display-inline-flex {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}
