main {
  height: calc(100vh - 96px);
}

header {
  /* height: 36px; */
}

footer {
  height: 24px;
}

body {
  /* background: white; */
}

/* 
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header { */
/* background-color: #282c34; */
/* display: flex; */
/* flex-direction: column; */
/* align-items: center; */
/* justify-content: center; */
/* font-size: 1.4em; */
/* color: white; */
/* padding-left: 0.3em; */
/* } */

/* .App-link { */
/* color: #61dafb; */
/* } */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* body {
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
} */

body,
html,
div,
span,
button,
input {
  font-family: 'Oswald', sans-serif;
}
